/** $Id: style.css,v 1.4.2.3.2.2 2008/06/02 05:12:38 jwolf Exp $
 * Barron - DRUPAL-6
 */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	background: transparent url('images/header.jpg') repeat-x;
	color: #444;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 0.8125em;    /* 13px */
	line-height: 1.461em;    /* 19px */
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 150%;
	font-weight: normal;
	margin: 20px 0 0;
}

h3 {
	font-size: 130%;
	font-weight: normal;
}

a:link,
a:visited {
	color: #660403;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #E90017;
	text-decoration: underline;
}


/*----------list styles----------*/
ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em;
}

ul.menu, .item-list ul {
  line-height: 1.2em;
  margin: 0.35em 0 0 -0.5em;
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  background: transparent url('images/menu-leaf.gif') no-repeat 1px .35em;
  list-style-image: none;
  list-style-type: none;
  padding: 0 0 .2em 1.5em;
}

ol li {
	margin-left: 2em;
  padding: 0 0 .3em;
}

ul li.expanded {
  background: transparent url('images/menu-expanded.gif') no-repeat 1px .35em;
}

ul li.collapsed {
  background: transparent url('images/menu-collapsed.gif') no-repeat 0px .35em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

ol.task-list {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

ol.task-list li {
  padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
  background: transparent url('images/task-list.png') no-repeat 3px 50%;
}

ol.task-list li.done {
  background: transparent url('../../misc/watchdog-ok.png') no-repeat 0px 50%;
  color: #393;
}

ol.task-list li.active {
  margin-right: 1em;
}

fieldset ul.clear-block li {
  background-image: none;
	margin: 0;
  padding: 0;
}

ul.primary, ul.primary li, ul.secondary {
  background: none;
	border-bottom: 1px solid #BBBBBB;
  height: auto;
  margin: 5px;
  padding: 0;
}

ul.secondary li {
  background: none;
  border-right: 1px solid #CCCCCC;
  display: inline;
  padding: 0 1em;
}

ul.links li {
  background: none;
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0;
}

/*----------page container----------*/
#container {
	margin: 0 auto;
	width: 970px;
}

/*----------header, logo and site name styles----------*/
#header {
	height: 100px;
	position: relative;
	margin: 0px 0 0 -0px;
}

#header a {
	color: #FFFFFF;
}

#logo-wrapper {
  height: 70px;
  line-height: 4em;
  position: absolute;
  top: 30px;
}

#header #logo {
	float: left;
	height: 100px;
	margin: -0px 0 0 -50px;
}

#header h1.site-name {
	color: #fff;
	float: left;
	font-size: 350%;
	margin: -1006px 0 0;
}

#header h1.site-name a {
	color: #fff;
	text-decoration: none;
}

#header h1.site-name a:hover {
	color: #ddd;
	text-decoration: none;
}

#header h2.site-slogan {
	color: #eee;
	float: left;
	font-size: 170%;
	margin: 16px 0 0 12px;
	text-transform: lowercase;
	white-space: nowrap;
}

/*----------nav styles -- primary links in header----------*/

#nav ul {
	list-style: none;
	list-style-image: none;
	height: 1%;
	margin: 0;
	padding: 4px 0 0;
	position: absolute;
	right: 0;
}

#nav li {
  background: none;
	display: inline;
  list-style: none;
  padding: 0;
}

#nav li a {
	border: none;
	color: #ccc;
	font-weight: normal;
	padding: 6px 10px;
	text-decoration:none;
}

#nav li a:hover,
#nav li a.active {
	background: #7B0505 none repeat;
	border: none;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #fff;
	padding-left: 9px;
	padding-right: 9px;
}

/*----------main content----------*/
#content {
	float: left;
	margin: 20px 0;
	overflow: hidden;
	width: 680px;
}

/*----------sidebar styles----------*/
#sidebar-wrapper {
	background: transparent url('images/sidebar_bottom.jpg') no-repeat left bottom;
	float: right;
	margin-top: 20px;
	width: 290px;
}

#sidebar {
	background: transparent url('images/sidebar_top.jpg') no-repeat left top;
	margin: 0 0 20px;
	padding: 10px 0 0 30px;
}


/*----------page styles----------*/
h2.page-title {
	color: #2D0102;
	font-size: 1.846em;
	line-height: 1.2em;
	margin: 10px 0 20px;
}

.mission {
	background-color: #efefef;
	border: solid 1px #ccc;
	margin: 0;
	padding: 10px;
}

.messages {
	color: #C80000;
	font-size: 110%;
	margin: 10px 0;
}

/*----------node styles----------*/
.node {
	margin: 0 0 40px;
}

.node h2.title {
	background: url('images/nodeTitle.gif') no-repeat 0 100%;
	color: #9a0000;
	font-size: 1.692em;    /* 22px */
	line-height: 1.25em;
	margin: 0;
}

.node h2.node-title a {
	color: #660403;
	text-decoration: none;
}

.node h2.node-title a:hover {
	color:#d00000;
	text-decoration:none;
}

.content p {
	margin: 10px 0;
}

.submitted {
	color: #a3a3a3;
	font-size: 0.769em;
}

.node .links {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.taxonomy {
	background: url('icons/tag_red.png') no-repeat 0 7px;
	font-size: 0.846em;
	padding: 0 0 5px 16px;
}

.picture {
  float: right;
  padding-right: 1em;
}

.preview .node {
  padding: 0.75em;

}

/*----------block styles----------*/
.block {
	margin: 0 0 20px;
}

.block h2.title {
	border-bottom: 1px solid #eee;
	color: #660403;
	font-size: 1.230em;    /* 16px */
	font-weight: bold;
	line-height: 1.25em;    /* 20px */
	margin: 10px 0;
}

.block ul {
  margin: 0;
  padding: 0;
}

.block ul li {
	background-position: 0 0.461em;
}

/*----------comment styles----------*/
h2.comments {
  font-size: 1.538em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
}

h3.comment-title {
  font-size: 1.35em;
  margin: 0;
  padding: 0;
}

.comment {
	background-color: #F7F7F7;
  border: 1px solid #ccc;
  margin: 0 0 2em;
  padding: 1em;
}

.content blockquote p {
  margin: 0;
  padding: 0 20px 8px;
}

blockquote {
  background: url('images/close-quote.gif') no-repeat right bottom;
  color: #620203;
  font-family: serif;
  margin: 10px 0;
}

blockquote :first-child {
  background: url('images/open-quote.gif') no-repeat left top;
  padding: 10px 0 0 20px;
}

/*----------footer----------*/
#footer {
	clear: both;
	font-size: 0.923em;
	margin: 0 0 20px;
	text-align: center;
}


/*----------img styles----------*/
#content img {
	border: 1px solid #ddd;
	padding: 2px;
}

#content a.active img {
	border: none;
}

#content .feed-icon img {
	border: none
}

/*----------icons for links----------*/
/*
 * Please see the README.txt file in the icons directory
 * for directions on how to obtain the icons for this theme
 * 
 */
.comment_comments a {
	background: transparent url('icons/comment.png') no-repeat 0 2px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.node_read_more a {
	background: transparent url('icons/page_white_go.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}

.comment_add a,.comment_reply a {
	background: transparent url('icons/comment_add.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}

.comment_delete a {
	background: transparent url('icons/comment_delete.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}

.comment_edit a {
	background: transparent url('icons/comment_edit.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}

.blog_usernames_blog a {
	background: transparent url('icons/user_comment.png') no-repeat;
	padding-bottom: 5px;
	padding-left: 20px;
}

/*----------misc. styles----------*/
hr {
  background:#5294c1;
  border: none;
  height:1px;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

dt {
  font-size: 1em;
  margin: 0.65em 0 0;
}

dl {
  margin: 0.5em 0 1em 1.5em;
}

span.form-required {
  color: #ffae00;
}

.description {
  color: #5A5A5A;
  font-size: 0.92em;
  margin-bottom: 0.75em;
}

div.error, tr.error {
  background: #FFCCCC none repeat scroll 0%;
  color: #220000;
  padding: 8px;
}

/*-----forms-----*/
.form-text,
.form-textarea,
.form-select {
	border: 1px solid #989898;
}

#edit-submit,
.form-submit {
	background-color: #F6F6F5;
  border: 1px solid #989898;
  cursor: pointer;
	margin: 10px 0;
}

#edit-submit:hover,
.form-submit:hover {
	background-color: #ddd;
}

#search label {
	display: none;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

#search-form .form-submit,
#search-theme-form .form-submit,
#watchdog-form-overview .form-submit,
#node-admin-buttons .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

div.admin {
  margin: 0;
  padding: 0;
}

.user-signature {
  color: #949494;
  font-family: Cursive, sans;
  font-size: 0.80em;
  margin: 0;
  padding: 0;
}

/*-----user profiles-----*/
 
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/*-----admin styles-----*/

div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin-panel {
  background: #fff;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected,
tr.selected td, tr.selected td.active {
  background: #FFFFCC;
  color: #333;
}

tr.selected td a:link,
tr.selected td a:visited,
tr.selected td a:active {
  color: #333;
}

tr.taxonomy-term-preview {
  opacity: 0.85;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}


/*---------------user-login-form---remove center alignment---------------*/
#user-login-form {
  margin: 0;
  padding: 0 0 0 10px;
  text-align: left;
}

#user-login-form .form-item {
  margin: 0;
  padding: 0;
	text-align: left;
}

/*----------TinyMCE editor----------*/
body.mceContentBody {
	background: #fff;
	color: #000;
	font-size: 12px;
}

body.mceContentBody a:link {
	color: #ff0000;
}

/*---------------table styles---------------*/
table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #AAAAAA;
  color: #494949;
  font-weight: bold;
}

td,th {
  padding: 0.3em 0.5em 0.5em;
}

tr.even,tr.odd,tbody th {
  border: solid #D5D6D7;
  border-width: 1px 0;
}

tr.even {
  background-color: #fff;
}

td.region,td.module,
td.container {
  background-color: #CBB5B5;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1.5em solid #fff;
  color: #000;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container {
  border-top-width: 0;
}

td.menu-disabled,
td.menu-disabled a {
  background-color: #D5C2C2;
  color :#000;
}

td.active {
  background-color: #f7f7f7;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}
